<%= render 'shared/static_header' %>

<div class='profile'>
  <div class='main container'>
    <h1 class='text-center'>Sign Up Confirmation</h1>

    <section class='sign_up_confirmation'>
      <p class='text-center'>Please confirm your email account to complete the registration process.</p>
      <p class='text-center'>Click <%= link_to 'here', root_path %> to return to the home page.</p>
    </section>
  </div>
</div>

<% provide(:title, "Confirmation") %>