<footer class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; BeamDox 2015</span>
            </div>
            <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                    <li><a href="http://www.twitter.com/beamdox"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="http://www.facebook.com/beamdox"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="https://www.youtube.com/channel/UCnsJ3nvbcf0Q-ZyJRdI1yuQ"><i class="fa fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks" >

                    <li><a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">Privacy Policy</a></li>
                    <li><a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">Terms of Service</a></li>
                    <li><a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">Refund Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>