<div class='container'>
  <header>
    <div class='row'>
      <div class='col-md-4'>
        <%= image_tag 'logos/small-bolt.png', class: 'img-responsive'%>
      </div>
      <div class='col-md-offset-5 col-md-3'>
        <ul class='nav nav-tabs'>
          <li role='presentation'>
            <a href='#'>Upload Documents</a>
          </li>
          <li role='presentation' class='dropdown'>
            <a class='dropdown-toggle' data-toggle='dropdown' href='#' role='button' aria-expanded='false'>
              <%= current_user.email %> <span class='caret'></span>
            </a>
            <ul class='dropdown-menu' role='menu' aria-labelledby='dropdownMenu1'>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Settings</a></li>
              <li role="presentation"><%= link_to 'Log out', destroy_user_session_path, method: :delete, role: "menuitem", tabindex: "-1" %></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </header>
</div>