<h1>Refund Policy</h1>
<p>
  Our policy is 7 days. If 7 days have gone by since your purchase transaction, we cannot offer you a refund, partial refund, or exchange related to that purchase transaction. By using our website and services, you agree to our Terms of Service. 
</p>
<p>
  Refunds are assessed on the basis of each document submitted. If you made an erroneous submission, you may return to your user portal to make changes so long as the “Status” of the document is neither “In Revision” nor “Completed.” When a document status is “In Revision” or “Completed,” it means our editors have either already begun significant work on it or have completed its revision. Both cases indicate significant consumption of our service, time, and labor. We cannot issue partial refunds on any individual document submission.
</p>
<p>
  You are eligible for a full refund on a document submission if BeamDox has not completed the document revision within 24 hours of the file submission. All document submissions are listed and time-stamped in your user portal under My Documents. It is your responsibility to check the document status. As a courtesy, we will send you a notification when your document has been revised completely. Your failure to notice that the document revision was complete within 24 hours is not proof or indication that we did not complete the service within 24 hours.
</p>
<p>
  You may not dispute the “quality” of our service to request a refund. By using our services, you agree that our services meet your expectations. All of our editors work extremely hard to make significant improvements to your documents. 
</p>
<p>
  To request a refund, you must email customerservice@beamdox.com. Please indicate which file you are seeking refund for. Approved refunds will be processed within 5 to 7 business days, and the credit will automatically be applied to the credit card you used for the original payment. If you haven’t received a refund yet, first check your credit card statement or bank account again. Even though we have issued the refund, it may take some time before your refund is officially posted. If you’ve done all of this and you still have not received your refund yet, please contact us at <%= mail_to "customerservice@beamdox.com" %>.
</p>