<div class='file-preview-text' title='NOTES.txt'>
  This is the sample text file content upto wrapTextLength of 250 characters
  <span class='wrap-indicator' onclick='$(\"#show-detailed-text\").modal(\"show\")' title='NOTES.txt'>[…]</span> 
</div>