<h1>PRIVACY POLICY</h1>                           
<h3>SECTION 1 - INFORMATION</h3>
<p>When you register with our website, upload documents, or make a payment for our editing services, we collect the personal information that you provide as a natural part of a buy and sell process. For instance, when you browse our website, we automatically receive your computer’s internet protocol (IP) address. This allows us to learn about your browser and operating system so that we may optimize your user experience. Another example is when you sign up for our website for which we create and collect your authentication data (e.g. email user name and password) so that you may access your personalized user profile and document portal. When you make a payment, we expectedly collect, verify, and process your credit card information like in any purchasing activity. Finally, when you upload documents, such as resumes, cover letters, and essays for us to edit, we store those files in a repository, which makes your user portal useful by tracking file submissions.
</p>
<p>
Email marketing: With your permission, we may send you emails about our website and related services. You may opt out of email updates by going to your profile settings at any time.
</p>
<h3>SECTION 2 - CONSENT</h3> 
<p>
By using our website, registering, submitting documents, employing our services, and making payments, you imply your consent to our collecting relevant information. You may withdraw consent at any time by sending an email to customerservice@beamdox.com to close your account. We will completely and permanently delete all of your user history and related information from our website.
</p>
<h3>SECTION 3 - DISCLOSURE</h3>
<p>We may disclose your information if we are required by law or if you violate our Terms of Service.</p>
<h3>SECTION 4 - THIRD-PARTY SERVICES</h3>
<p>
We do not disclose your information to any third-party services, unless the law requires it. We do use a third-party payment service provider called Stripe, which is used to process your credit card payments. Any credit card data is encrypted through the Payment Card Industry Data Security Standard (PCI-DSS). Your purchase transaction data is stored only as long as is necessary to complete your purchase transaction. After that is complete, your purchase transaction information is deleted. Stripe uses its own privacy policies in respect to the information we are required to provide to them for your purchase-related transactions. We are not responsible for the privacy practices of other sites or third –party services, but we recommend that you read about them <%= link_to "here", 'https://stripe.com/gb/privacy' %>.
</p>
<h3>SECTION 5 - SECURITY</h3>
<p>To protect your personal information, we take reasonable precautions and industry best practices to make sure it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed. If you provide us with your credit card information, the information is encrypted using secure socket layer technology (SSL) and stored with an AES-256 encryption. Although no method of transmission over the Internet or electronic storage is 100% secure, we follow all PCI-DSS requirements and implement additional generally accepted industry standards. 
</p>
<h3>SECTION 6 - COOKIES</h3>
<p>Cookies are small files that are stored on a user's computer. They are designed to hold a modest amount of data specific to a particular client and website, and can be accessed either by the web server or the client computer. This allows the server to deliver a page tailored to a particular user, or the page itself can contain some script which is aware of the data in the cookie and so is able to carry information from one visit to the website (or related site) to the next. Our website stores minimum cookies. You may delete them and other cookies by going to your internet browser settings. 
</p>
<h3>SECTION 7 - AGE OF CONSENT</h3>
<p>By using this site, you represent that you are at least the age of majority in your state or province of residence, or that you are the age of majority in your state or province of residence and you have given us your consent to allow any of your minor dependents to use this site. 
</p>
<h3>SECTION 8 - CHANGES TO THIS PRIVACY POLICY</h3>
<p>We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on the website. If we make material changes to this policy, we will notify you here that it has been updated, so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we use and/or disclose it. If our store is acquired or merged with another company, your information may be transferred to the new owners so that we may continue to sell products to you. 
</p>
<h3>QUESTIONS AND CONTACT INFORMATION</h3>
<p>If you would like to: access, correct, amend or delete any personal information we have about you, register a complaint, or simply want more information, please contact our Privacy Compliance Officer at customerservice@beamdox.com.
</p>