$(document).ready ->
  settings = {user_name: $('#user_name').val(), user_email: $('#user_email').val(), user_phone_number: $('#user_phone_number').val(), user_timezone: $('#user_timezone').val()}
  ['#user_name', '#user_email', '#user_phone_number'].forEach (field) ->
    $(field).parent().parent().find('.submit').prop('disabled', true)
    $(field).on('keyup', (event) ->
      target = event.currentTarget
      if $(target).val() != settings[target.id]
        $(target).parent().parent().find('.submit').prop('disabled', false)
      else
        $(target).parent().parent().find('.submit').prop('disabled', true)
    )

  $('#user_timezone').find('.submit').prop('disabled', true)
  $('#user_timezone').change (event) ->
    target = event.currentTarget
    if $(target).val() != settings['user_timezone']
      $(target).parent().parent().find('.submit').prop('disabled', false)
    else
      $(target).parent().parent().find('.submit').prop('disabled', true)


  $('.edit_user').submit (event) ->
    form = $(event.currentTarget)
    unless form.find('.disabled').length > 0    
      event.preventDefault()
      $.ajax
        url: "/profile"
        method: 'PUT'
        data: form.serialize()
        dataType: 'json'
        success: (response) ->
          field = response.field
          template = "<div class='alert alert-success'>#{field} updated!</div>"

          if $('.alert').length > 0
            $('.alert').remove()
            $('h1.user_settings').after(template)
          else
            $('h1.user_settings').after(template)

          form.find('.submit').prop('disabled', true)
          field_id = form.find('.form-control').prop('id')
          field_value = form.find('.form-control').val()
          settings[field_id] = field_value
        error: (response) ->
          template = "<div class='alert alert-danger'> Your submission returned the following errors: #{response.responseText}.</div>"

          if $('.alert').length > 0
            $('.alert').remove()
            $('h1.user_settings').after(template)          
          else
            $('.alert').remove()
            $('h1.user_settings').after(template)
