$(document).ready ->
  STYLE_SETTING = 'style="width:50px;height:50px;margin-bottom:0px;margin-top:0px"'
  layout_templates = {
    main1: '{preview}\n' +
        '<div class="input-group {class}">\n' +
        '   {caption}\n' +
        '   <div class="input-group-btn">\n' +
        '       {remove}\n' +
        '       {cancel}\n' +
        '       {browse}\n' +
        '   </div>\n' +
        '</div>',
    actions: '<div class="file-actions">\n' +
        '    <div class="file-footer-buttons">\n' +
        '        {delete}' +
        '    </div>\n' +
        '    <div class="clearfix"></div>\n' +
        '</div>'
  }

  templates = {
    text: '<div class="file-preview-frame" id="{previewId}" data-fileindex="{fileindex}">\n' +
      "   <img src='<%= asset_url('logos/doc_icon.png') %>' title='{caption}' alt='{caption}'" + STYLE_SETTING + '>\n' +
      '   {footer}\n' +
      '</div>\n',
    object: '<div class="file-preview-frame" id="{previewId}" data-fileindex="{fileindex}">\n' +
      "   <img src='<%= asset_url('logos/doc_icon.png') %>' title='{caption}' alt='{caption}'" + STYLE_SETTING + '>\n' +
      '   {footer}\n' +
      '</div>\n'
  }

  $('.document').fileinput({
    'showUpload': false, 
    'allowedFileExtensions': ['txt', 'doc', 'pdf', 'rtf', 'docx'], 
    'maxFileCount': 5, 
    'layoutTemplates': layout_templates,
    'previewTemplates': templates, 
    'uploadUrl': "/profile/documents",
    'dropZoneEnabled': true, 
    'dropZoneTitle': 'Drag & drop files here &hellip;'
  })

  $('.document').on('fileloaded', (event, file) ->
    $(event.currentTarget).fileinput('upload')    

    # documents_cost = $('#documents .file-preview-frame').length * 200
    # resumes_cost = $('#resumes .file-preview-frame').length * 250
    # essays_cost = $('#essays .file-preview-frame').length * 500

    # $('#total_price').text(documents_cost + resumes_cost + essays_cost)    
    # $('.stripe-button-el').prop('disabled', false)
  )

  $('.document').on('filecleared', (event, file) ->
    documents_cost = $('#documents .file-preview-frame').length * 200
    resumes_cost = $('#resumes .file-preview-frame').length * 250
    essays_cost = $('#essays .file-preview-frame').length * 500

    $('#total_price').text(documents_cost + resumes_cost + essays_cost)    

    if $('.document').val() == '' and $('.resume').val() == '' and $('.essay').val() == ''
      $('.stripe-button-el').prop('disabled', true)
  )
  
  if $('.document').val() == '' and $('.resume').val() == '' and $('.essay').val() == ''
    $('.stripe-button-el').prop('disabled', true)

  $('.document_button').on('click', (ev) ->
    type = $(ev.currentTarget).text()

    switch type
      when "Resume" 
        $('.document_button').removeClass('active')
        $('.resume').addClass('active')
      when "CV" 
        $('.document_button').removeClass('active')
        $('.cv').addClass('active')
      when "Essay" 
        $('.document_button').removeClass('active')
        $('.essay').addClass('active')
  )