$(document).ready ->
  STYLE_SETTING = 'style="width:50px;height:50px;margin-bottom:0px;margin-top:0px"'
  templates = {
    text: '<div class="file-preview-frame" id="{previewId}" data-fileindex="{fileindex}">\n' +
      "   <img src='<%= asset_url('logos/doc_icon.png') %>' title='{caption}' alt='{caption}'" + STYLE_SETTING + '>\n' +
      '   {footer}\n' +
      '</div>\n',
    object: '<div class="file-preview-frame" id="{previewId}" data-fileindex="{fileindex}">\n' +
      "   <img src='<%= asset_url('logos/doc_icon.png') %>' title='{caption}' alt='{caption}'" + STYLE_SETTING + '>\n' +
      '   {footer}\n' +
      '</div>\n'
  }

  $('.document').fileinput({
    'showUpload': false, 
    'allowedFileExtensions': ['txt', 'doc', 'pdf', 'rtf', 'docx'], 
    'maxFileCount': 5, 
    'previewTemplates': templates, 
    'uploadUrl': "/profile/documents",
    'dropZoneEnabled': true, 
    'dropZoneTitle': 'Drag & drop files here &hellip;'
  })

  $('.document').on('fileloaded', (event, file) ->
    $(event.currentTarget).fileinput('upload')    

    # documents_cost = $('#documents .file-preview-frame').length * 200
    # resumes_cost = $('#resumes .file-preview-frame').length * 250
    # essays_cost = $('#essays .file-preview-frame').length * 500

    # $('#total_price').text(documents_cost + resumes_cost + essays_cost)    
    # $('.stripe-button-el').prop('disabled', false)
  )

  $('.document').on('filebatchuploadcomplete', (event, data) ->
    data.forEach (file) ->
      if $('.active').text() == 'Resume'
        cost = 100
      else if $('.active').text() == 'CV'
        cost = 100
      else if $('.active').text() == 'Essay'
        cost = 250

      template = "<div class='row'>
                    <div class='col-md-2'>#{file.type}</div>
                    <div class='col-md-2'>#{file.name}</div>
                    <div class='col-md-2'>#{file.lastModifiedDate}</div>
                    <div class='col-md-2'>#{cost}</div>
                    <div class='col-md-4'>
                      <input type='text' style='width:100%;'/>
                    </div>
                  </div>"
      $('.new_submission').prepend(template)

  )

  $('.document').on('filecleared', (event, file) ->
    documents_cost = $('#documents .file-preview-frame').length * 200
    resumes_cost = $('#resumes .file-preview-frame').length * 250
    essays_cost = $('#essays .file-preview-frame').length * 500

    $('#total_price').text(documents_cost + resumes_cost + essays_cost)    

    if $('.document').val() == '' and $('.resume').val() == '' and $('.essay').val() == ''
      $('.stripe-button-el').prop('disabled', true)
  )
  
  if $('.document').val() == '' and $('.resume').val() == '' and $('.essay').val() == ''
    $('.stripe-button-el').prop('disabled', true)

  $('.document_button').on('click', (ev) ->
    type = $(ev.currentTarget).text()

    switch type
      when "Resume" 
        $('.document_button').removeClass('active')
        $('.resume').addClass('active')
      when "CV" 
        $('.document_button').removeClass('active')
        $('.cv').addClass('active')
      when "Essay" 
        $('.document_button').removeClass('active')
        $('.essay').addClass('active')
  )