$(document).ready ->
  existing_price = 0
  dropzone_files = []
  layout_templates = {
    main1: '{preview}\n' +
        '<div class="kv-upload-progress hide"></div>\n' +
        '<div class="input-group {class}">\n' +
        '   {caption}\n' +
        '   <div class="input-group-btn">\n' +
        '       {remove}\n' +
        '       {cancel}\n' +
        '       {browse}\n' +
        '   </div>\n' +
        '</div>',
    preview: '<div class="file-preview {class}">\n' +
        '    <div class="{dropClass}">\n' +
        '    <div class="file-preview-thumbnails">\n' +
        '    </div>\n' +
        '    <div class="clearfix"></div>' +
        '    <div class="file-preview-status text-center text-success"></div>\n' +
        '    </div>\n' +
        '</div>',
    actions: '<div class="file-actions">\n' +
        '    <div class="file-footer-buttons">\n' +
        '        {delete}' +
        '    </div>\n' +
        '    <div class="clearfix"></div>\n' +
        '</div>'
  }

  templates = {
    generic: '',
    html: '',
    image: '',
    video: '',
    audio: '',
    flash: '',
    object: '',
    other: '',
    text: '',
    object: ''
  }

  # Disable stripe button on load
  $('#submit_button').prop('disabled', true)

  $('#resume').fileinput({
    'showUpload': false, 
    'showRemove': false,
    'allowedFileExtensions': ['txt', 'doc', 'pdf', 'rtf', 'docx'], 
    'layoutTemplates': layout_templates,
    'previewTemplates': templates, 
    'uploadUrl': "/profile/documents",
    'uploadAsync': true,
    'dropZoneEnabled': true, 
    'dropZoneTitle': 'Resumes',
    'browseLabel': 'Attach',
    'uploadExtraData': ->
      {type: 'Documents::Resume'}
  })

  $('#cover_letter').fileinput({
    'showUpload': false, 
    'showRemove': false,
    'allowedFileExtensions': ['txt', 'doc', 'pdf', 'rtf', 'docx'], 
    'layoutTemplates': layout_templates,
    'previewTemplates': templates, 
    'uploadUrl': "/profile/documents",
    'uploadAsync': true,
    'dropZoneEnabled': true, 
    'dropZoneTitle': 'Cover Letters',
    'browseLabel': 'Attach',
    'uploadExtraData': ->
      {type: 'Documents::CoverLetter'}
  })

  $('#essay').fileinput({
    'showUpload': false, 
    'showRemove': false,
    'allowedFileExtensions': ['txt', 'doc', 'pdf', 'rtf', 'docx'], 
    'layoutTemplates': layout_templates,
    'previewTemplates': templates, 
    'uploadUrl': "/profile/documents",
    'uploadAsync': true,
    'dropZoneEnabled': true, 
    'dropZoneTitle': 'Essays',
    'browseLabel': 'Attach',
    'uploadExtraData': ->
      {type: 'Documents::Essay'}
  })

  $('.kv-fileinput-caption').parent().hide()

  $('.document').on('filebatchselected', (event, files) ->
    input = $(event.currentTarget)
    file_names = files.map (file) ->
      file.name

    redundant_files = file_names.filter (file) ->
      dropzone_files.indexOf(file) >= 0

    file_type = input.data('type')
    section_name = '#' + input.prop('id') + "_section"

    if redundant_files.length > 0
      unless $(section_name).find('.file-drop-zone-title').length > 0
        $(section_name).find('.file-drop-zone').prepend("<div class='file-drop-zone-title'>#{file_type}s</div>")

      $('.alert').remove()
      $('.page_title').after("<div class='alert alert-danger text-center'>Redundant file detected. Please do not upload files with the same name.</div>")
      input.fileinput('clear')
    else
      input.fileinput('upload')

      unless $(section_name).find('.file-drop-zone-title').length > 0
        $(section_name).find('.file-drop-zone').prepend("<div class='file-drop-zone-title'>#{file_type}s</div>")
  )

  $('.document').on('fileuploaded', (event, data) ->
    input = $(event.currentTarget)
    $('.alert').remove()
    file_type = input.data('type')
    price = switch file_type
              when 'Resume' then 100
              when 'Cover Letter' then 100
              when 'Essay' then 250

    file = data.response.document
    id = file.id
    file_name = file.original_filename
    file_created_at = file.created_at
    dropzone_files.push(file_name)

    token = $("input[name='authenticity_token']").val()
    template = "<tr class='created_document' id='created_document_#{id}'>
                  <td class='file_type'>#{file_type}</td>
                  <td class='file_name'>#{file_name}</td>
                  <td>#{file.created_at}</td>
                  <td>$#{price}</td>
                  <td><textarea id='submission_documents_attributes_#{id}_description' name='submission[documents_attributes][#{id}][description]' rows='4' style='width: 100%;'/></td>
                  <td>
                    <button type ='submit' class='btn btn-primary' id='destroy_document_#{id}'>
                      Remove
                    </button>
                  </td>
                </tr>"

    $('.documents_list').append(template)

    # Set price
    existing_price += price
    $('#total_price').text(existing_price)

    # Check if submission is ready
    if $('.accept-checkbox').prop('checked')
      $('#submit_button').prop('disabled', false)

    $("#destroy_document_#{id}").click( (event) ->
      event.preventDefault()

      $.ajax
        url: "/profile/documents/#{id}"
        method: 'DELETE'
        dataType: 'json'
        success: (response) =>
          created_document = $("#created_document_#{response.id}")
          file_type = created_document.find('.file_type').text()
          price = switch file_type
                    when 'Resume' then 100
                    when 'Cover Letter' then 100
                    when 'Essay' then 250

          created_document.remove()
          existing_price -= price
          $('#total_price').text(existing_price)  

          if $('.documents_list').children().length == 0
            $('#submit_button').prop('disabled', true)
    )
  )

  $('.document').on('fileuploaderror', (event, data) ->  
    input = $(event.currentTarget)
    file_type = input.data('type')
    section_name = '#' + input.prop('id') + "_section"

    unless $(section_name).find('.file-drop-zone-title').length > 0
      $(section_name).find('.file-drop-zone').prepend("<div class='file-drop-zone-title'>Drag and drop #{file_type}s here.</div>")
    
    $('.alert').remove()
    $('.page_title').after("<div class='alert alert-danger text-center'>Invalid file type detected. Only 'txt, doc, pdf, rtf, docx' files are supported.</div>")
    input.fileinput('clear')
  )

  $('.accept-checkbox').change((event) ->
    if $(event.currentTarget).prop('checked') and $('.documents_list').children().length > 0
      $('#submit_button').prop('disabled', false)
    else
      $('#submit_button').prop('disabled', true)
  )      

  # Stripe 
  $('#submit_button').click (event) ->
    event.preventDefault()

    if window.config.is_customer
      $('.payment-modal').modal()
    else
      $('.new-card-modal').modal()

  $('#open-new-card-modal').click (event) ->
    event.preventDefault()
    $('.payment-modal').modal('hide')
    $('.new-card-modal').modal()

  $('#open-payment-modal').click (event) ->
    event.preventDefault()
    $('.new-card-modal').modal('hide')
    $('.payment-modal').modal('show')

  $('#pay_with_old_card').click (event) ->
    event.preventDefault()
    $('.new_submission').submit()

  $('.card_number').payment('formatCardNumber')
  $('.card_cvc').payment('formatCardCVC')
  $('.card_expr').payment('formatCardExpiry')
  
  $('#payment-form').submit (event) ->
    event.preventDefault()
    $form = $(@)
    card_number = $form.find('.card_number').val()
    card_cvc = $form.find('.card_cvc').val()
    card_exp_month = $form.find('.card_expr').val().split(' / ')[0]
    card_exp_year = $form.find('.card_expr').val().split(' / ')[1]
  
    $form.find('button').prop('disabled', true)
    $.payment.validateCardNumber(card_number)
    $.payment.validateCardCVC(card_cvc)
    $.payment.validateCardExpiry($form.find('.card_expr').val().split(' / '))

    Stripe.card.createToken(
      number: card_number,
      cvc: card_cvc,
      exp_month: card_exp_month,
      exp_year: card_exp_year
    , stripeResponseHandler)
    return false

  stripeResponseHandler = (status, response) ->
    if response.error
      $form = $('#payment-form')
      $form.find('.payment-errors').text(response.error.message)
      $form.find('button').prop('disabled', false)
    else
      $form = $('.new_submission')
      token = response.id
      $form.append($('<input type="hidden" name="stripeToken" />').val(token))
      $form.get(0).submit()