$(document).ready ->
  STYLE_SETTING = 'style="width:50px;height:50px;margin-bottom:0px;margin-top:0px"'
  layout_templates = {
    main1: '{preview}\n' +
        '<div class="input-group {class}">\n' +
        '   {caption}\n' +
        '   <div class="input-group-btn">\n' +
        '       {remove}\n' +
        '       {cancel}\n' +
        '       {browse}\n' +
        '   </div>\n' +
        '</div>',
    preview: '<div class="file-preview {class}">\n' +
        '    <div class="{dropClass}">\n' +
        '    <div class="file-preview-thumbnails">\n' +
        '    </div>\n' +
        '    <div class="clearfix"></div>' +
        '    <div class="file-preview-status text-center text-success"></div>\n' +
        '    <div class="kv-fileinput-error"></div>\n' +
        '    </div>\n' +
        '</div>',
    actions: '<div class="file-actions">\n' +
        '    <div class="file-footer-buttons">\n' +
        '        {delete}' +
        '    </div>\n' +
        '    <div class="clearfix"></div>\n' +
        '</div>'
  }

  templates = {
    generic: '',
    html: '',
    image: '',
    video: '',
    audio: '',
    flash: '',
    object: '',
    other: '',
    text: '',
    object: ''
  }

  $('.document').fileinput({
    'showUpload': false, 
    'showRemove': false,
    'allowedFileExtensions': ['txt', 'doc', 'pdf', 'rtf', 'docx'], 
    'layoutTemplates': layout_templates,
    'previewTemplates': templates, 
    'uploadUrl': "/profile/documents",
    'uploadAsync': true,
    'dropZoneEnabled': true, 
    'dropZoneTitle': 'Drag and drop resumes here.',
    'uploadExtraData': ->
      {type: $('.document_button.active').text()}
  })

  $('.kv-fileinput-caption').hide()

  $('.document').on('filebatchselected', (event, files) ->
    input = $(event.currentTarget)
    input.fileinput('upload')
    file_type = $('.document_button.active').text().toLowerCase()

    unless $('.file-drop-zone-title').length > 0
      $('.file-drop-zone').prepend("<div class='file-drop-zone-title'>Drag and drop #{file_type}s here.</div>")
  )


  $('.document').on('fileuploaded', (event, data) ->
    file_type = $('.document_button.active').text()
    price = switch file_type
              when 'Resume' then 100
              when 'Cover Letter' then 100
              when 'Essay' then 250

    id = data.response.id
    file_name = data.response.original_filename
    file_created_at = data.response.created_at

    token = $("input[name='authenticity_token']").val()
    template = "<tr class='created_document' id='created_document_#{id}'>
                  <td class='file_type'>#{file_type}</td>
                  <td class='file_name'>#{file_name}</td>
                  <td>#{file_created_at}</td>
                  <td>$#{price}</td>
                  <td><textarea id='submission_documents_attributes_#{id}_description' name='submission[documents_attributes][#{id}][description]' rows='4' style='width: 100%;'/></td>
                  <td>
                    <button type ='submit' class='btn btn-primary' id='destroy_document_#{id}'>
                      Remove
                    </button>
                  </td>
                </tr>"

    $('.documents_list').append(template)

    $("#destroy_document_#{id}").click( (event) ->
      event.preventDefault()

      $.ajax
        url: "/profile/documents/#{id}"
        method: 'DELETE'
        dataType: 'json'
        success: (response) =>
          created_document = $("#created_document_#{response.id}")
          file_type = created_document.find('.file_type').text()
          price = switch file_type
                    when 'Resume' then 100
                    when 'Cover Letter' then 100
                    when 'Essay' then 250

          created_document.remove()
          existing_price = parseInt($('#total_price').text())
          $('#total_price').text(existing_price - price)  

          if $('.documents_list').children().length == 0
            $('.stripe-button-el').prop('disabled', true)
    )

    existing_price = parseInt($('#total_price').text())
    $('#total_price').text(existing_price + price)
    $('.stripe-button-el').prop('disabled', false)
  )

  $('.document').on('fileuploaderror', (event, data) ->
    file_type = $('.document_button.active').text().toLowerCase()
    unless $('.file-drop-zone-title').length > 0
      $('.file-drop-zone').prepend("<div class='file-drop-zone-title'>Drag and drop #{file_type}s here.</div>")
  )
  
  if $('.document').val() == '' and $('.resume').val() == '' and $('.essay').val() == ''
    $('.stripe-button-el').prop('disabled', true)

  $('.document_button').on('click', (ev) ->
    type = $(ev.currentTarget).text()

    switch type
      when "Resume" 
        $('.document_button').removeClass('active')
        $('.resume').addClass('active')
        $('.file-drop-zone-title').text('Drag and drop resumes here.')
      when "Cover Letter" 
        $('.document_button').removeClass('active')
        $('.cv').addClass('active')
        $('.file-drop-zone-title').text('Drag and drop cover letters here.')
      when "Essay" 
        $('.document_button').removeClass('active')
        $('.essay').addClass('active')
        $('.file-drop-zone-title').text('Drag and drop essays here.')
  )

  $('.stripe-button-el').prop('disabled', true)