$(document).ready ->
  STYLE_SETTING = 'style="width:50px;height:50px;margin-bottom:0px;margin-top:0px"'
  layout_templates = {
    main1: '{preview}\n' +
        '<div class="input-group {class}">\n' +
        '   {caption}\n' +
        '   <div class="input-group-btn">\n' +
        '       {remove}\n' +
        '       {cancel}\n' +
        '       {browse}\n' +
        '   </div>\n' +
        '</div>',
    preview: '<div class="file-preview {class}">\n' +
        '    <div class="{dropClass}">\n' +
        '    <div class="file-preview-thumbnails">\n' +
        '    </div>\n' +
        '    <div class="clearfix"></div>' +
        '    <div class="file-preview-status text-center text-success"></div>\n' +
        '    <div class="kv-fileinput-error"></div>\n' +
        '    </div>\n' +
        '</div>',
    actions: '<div class="file-actions">\n' +
        '    <div class="file-footer-buttons">\n' +
        '        {delete}' +
        '    </div>\n' +
        '    <div class="clearfix"></div>\n' +
        '</div>'
  }

  templates = {
    generic: '',
    html: '',
    image: '',
    video: '',
    audio: '',
    flash: '',
    object: '',
    other: '',
    text: '',
    object: ''
  }

  $('.document').fileinput({
    'showUpload': false, 
    'showRemove': false,
    'allowedFileExtensions': ['txt', 'doc', 'pdf', 'rtf', 'docx'], 
    'layoutTemplates': layout_templates,
    'previewTemplates': templates, 
    'uploadUrl': "/profile/documents",
    'uploadAsync': true,
    'dropZoneEnabled': true, 
    'dropZoneTitle': 'Drag & drop resumes here &hellip;',
    'uploadExtraData': ->
      {type: $('.document_button.active').text()}
  })

  $('.kv-fileinput-caption').hide()

  # $('.document').on('fileloaded', (event, file) ->
  #   input = $(event.currentTarget)

  #   waitForAjax = setInterval( -> 
  #     unless input.prop('disabled') and typeof file != 'undefined'
  #       input.fileinput('upload')
  #       file_type = $('.document_button.active').text().toLowerCase()

  #       unless $('.file-drop-zone-title').length > 0
  #         $('.file-drop-zone').prepend("<div class='file-drop-zone-title'>Drag & drop your #{file_type} here...</div>")

  #       clearInterval(waitForAjax)
  #   , 1000)
    
  #   # documents_cost = $('#documents .file-preview-frame').length * 200
  #   # resumes_cost = $('#resumes .file-preview-frame').length * 250
  #   # essays_cost = $('#essays .file-preview-frame').length * 500

  #   # $('#total_price').text(documents_cost + resumes_cost + essays_cost)    
  #   # $('.stripe-button-el').prop('disabled', false)
  # )

  $('.document').on('filebatchselected', (event, files) ->
    input = $(event.currentTarget)
    input.fileinput('upload')
    file_type = $('.document_button.active').text().toLowerCase()

    unless $('.file-drop-zone-title').length > 0
      $('.file-drop-zone').prepend("<div class='file-drop-zone-title'>Drag & drop #{file_type}s here...</div>")
  )


  $('.document').on('fileuploaded', (event, data) ->
    file_type = $('.document_button.active').text()
    price = switch file_type
              when 'Resume' then 100
              when 'Cover Letter' then 100
              when 'Essay' then 250

    id = data.response.id
    file_name = data.response.original_filename
    file_created_at = data.response.created_at

    token = $("input[name='authenticity_token']").val()
    template = "<div class='created_document'>
                  <div class='row'>
                    <div class='col-md-2 file_type'>#{file_type}</div>
                    <div class='col-md-2 file_name'>#{file_name}</div>
                    <div class='col-md-2'>#{file_created_at}</div>
                    <div class='col-md-2'>#{price}</div>
                    <div class='col-md-4'>
                      <textarea id='submission_documents_attributes_#{id}_description' name='submission[documents_attributes][#{id}][description]' rows='4' style='width: 100%;'/>
                    </div>
                  </div>
                  <div class='row'>
                    <form accept-charset='UTF-8' action='/profile/documents/#{id}' method='post' class='destroy_document'>
                      <div style='margin:0;padding:0;display:inline'>
                        <input name='authenticity_token' type='hidden' value='#{token}'>
                        <input name='_method' type='hidden' value='delete' />
                      </div>
                      <button type ='submit' class='btn btn-primary pull-right'>
                        Remove Document
                      </button>
                    </form>
                  </div>
                </div>"

    $('.selected_documents').append(template)

    $('.destroy_document').submit( (event) ->
      created_document = $(event.currentTarget).parent().parent()
      file_type = created_document.find('.file_type').text()
      price = switch file_type
                when 'Resume' then 100
                when 'Cover Letter' then 100
                when 'Essay' then 250

      created_document.remove()

      existing_price = parseInt($('#total_price').text())
      $('#total_price').text(existing_price - price)  
    )

    existing_price = parseInt($('#total_price').text())
    $('#total_price').text(existing_price + price)
  )

  $('.document').on('fileuploaderror', (event, data) ->
    file_type = $('.document_button.active').text().toLowerCase()
    unless $('.file-drop-zone-title').length > 0
      $('.file-drop-zone').prepend("<div class='file-drop-zone-title'>Drag & drop #{file_type}s here...</div>")
  )
  
  if $('.document').val() == '' and $('.resume').val() == '' and $('.essay').val() == ''
    $('.stripe-button-el').prop('disabled', true)

  $('.document_button').on('click', (ev) ->
    type = $(ev.currentTarget).text()

    switch type
      when "Resume" 
        $('.document_button').removeClass('active')
        $('.resume').addClass('active')
        $('.file-drop-zone-title').text('Drag & drop resumes here...')
      when "Cover Letter" 
        $('.document_button').removeClass('active')
        $('.cv').addClass('active')
        $('.file-drop-zone-title').text('Drag & drop cover letters here...')
      when "Essay" 
        $('.document_button').removeClass('active')
        $('.essay').addClass('active')
        $('.file-drop-zone-title').text('Drag & drop essays here...')
  )