<!DOCTYPE html>
<html>
  <body>
    <h4>New submission from Beamdox!</h4>

    <p>Here are the documents:</p>
    <p>Cover letters: <%= @cover_letters.map(&:original_filename).join(', ') %></p>
    <p>Resumes: <%= @resumes.map(&:original_filename).join(', ') %></p>
    <p>Essays: <%= @essays.map(&:original_filename).join(', ') %></p>

    <p>Total cost: <%= @amount %></p>
  </body>
</html>