$(document).ready ->
  STYLE_SETTING = 'style="width:60px;height:0px;margin-bottom:0px"'
  templates = {
    text: '<div class="file-preview-frame" id="{previewId}" data-fileindex="{fileindex}" style="width:60px;height:50px">\n' +
      '   <div class="file-preview-text" title="{caption}" ' + STYLE_SETTING + '>\n' +
      "       <img src='<%= asset_url('logos/doc_icon.png') %>'/>" + 
      '   </div>\n' + 
      '   {footer}\n' +
      '</div>\n',
    object: '<div class="file-preview-frame" id="{previewId}" data-fileindex="{fileindex}" style="width:60px;height:50px">\n' +
      '   <div class="file-preview-text" title="{caption}" ' + STYLE_SETTING + '>\n' +
      "       <img "style=max-height:100%" src='<%= asset_url('logos/doc_icon.png') %>'/>" + 
      '   </div>\n' + 
      '   {footer}\n' +
      '</div>\n'
  }

  $('.submission_file').fileinput({'showUpload': false, 'allowedFileTypes': ['text', 'doc', 'pdf'], 'maxFileCount': 5, 'previewTemplates': templates})

  $('.submission_file').on('fileloaded', (event, file) ->
    cover_letters_cost = $('#cover_letters .file-preview-frame').length * 200
    resumes_cost = $('#resumes .file-preview-frame').length * 250
    essays_cost = $('#essays .file-preview-frame').length * 500
  )

  $('.submission_file').on('fileimageloaded', (event, file) ->
    $('.file-caption-name').css('width', '100%')
    caption = $('.file-caption-name').text()
    $('.file-caption-name').text(caption.substring(0, 5) + '...')
  )


