$(document).ready ->
  STYLE_SETTING = 'style="width:50px;height:50px;margin-bottom:0px;margin-top:0px"'
  templates = {
    text: '<div class="file-preview-frame" id="{previewId}" data-fileindex="{fileindex}">\n' +
      "   <img src='<%= asset_url('logos/doc_icon.png') %>' title='{caption}' alt='{caption}'" + STYLE_SETTING + '>\n' +
      '   {footer}\n' +
      '</div>\n',
    object: '<div class="file-preview-frame" id="{previewId}" data-fileindex="{fileindex}">\n' +
      "   <img src='<%= asset_url('logos/doc_icon.png') %>' title='{caption}' alt='{caption}'" + STYLE_SETTING + '>\n' +
      '   {footer}\n' +
      '</div>\n'
  }

  $('.submission_file').fileinput({'showUpload': false, 'allowedFileExtensions': ['txt', 'doc', 'pdf', 'rtf', 'docx'], 'maxFileCount': 5, 'previewTemplates': templates})

  $('.submission_file').on('fileloaded', (event, file) ->
    cover_letters_cost = $('#cover_letters .file-preview-frame').length * 200
    resumes_cost = $('#resumes .file-preview-frame').length * 250
    essays_cost = $('#essays .file-preview-frame').length * 500

    $('#total_price').text(cover_letters_cost + resumes_cost + essays_cost)    
    $('.stripe-button-el').prop('disabled', false)
  )

  $('.submission_file').on('filecleared', (event, file) ->
    cover_letters_cost = $('#cover_letters .file-preview-frame').length * 200
    resumes_cost = $('#resumes .file-preview-frame').length * 250
    essays_cost = $('#essays .file-preview-frame').length * 500

    $('#total_price').text(cover_letters_cost + resumes_cost + essays_cost)    

    if $('.cover_letter').val() == '' and $('.resume').val() == '' and $('.essay').val() == ''
      $('.stripe-button-el').prop('disabled', true)
  )
  
  if $('.cover_letter').val() == '' and $('.resume').val() == '' and $('.essay').val() == ''
    $('.stripe-button-el').prop('disabled', true)
