html, body {
  height: 100%;
}

.profile {
  min-height: 100%;
  height: auto;
  margin: 0 auto -100px;
  padding: 0 0 100px;
}

/* navbar */
.navbar
{
  -webkit-backface-visibility: hidden;
}


.navbar-default {
    border-color: transparent;
    background-color: black !important;
}

.navbar-default .navbar-brand {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    color: #fed136;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #fec503;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
    border-color: #fed136;
    background-color: #fed136;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #fed136;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #fed136;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #fed136;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #fec503;
}

@media(min-width:768px) {
  .navbar-default {
      padding: 25px 0;
      border: 0;
      background-color: transparent;
      -webkit-transition: padding .3s;
      -moz-transition: padding .3s;
      transition: padding .3s;
  }

  .navbar-default .navbar-brand {
      font-size: 2em;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all .3s;
  }

  .navbar-default .navbar-nav>.active>a {
      border-radius: 3px;
  }

  .navbar-default.navbar-shrink {
      padding: 10px 0;
      background-color: #222;
  }

  .navbar-default.navbar-shrink .navbar-brand {
      font-size: 1.5em;
  }
}

@media(max-width: 1000px) {
  .profile {
    margin-top: 50px;
    padding: 0 0 150px;
  }

  footer {
    margin-top: 25px;
    padding: 25px 0;
    text-align: center;
    height: 150px !important;
  }  
}

.logo{
    display: inline-block;
    vertical-align: middle;
}

.logo img{
    max-height:100%;
    max-width:none;
}

.logo-center{
    padding-top:0px;
    padding-bottom:0px;
}

.dropdown-menu a {
  color: black !important;
  background-color: white !important;
}

.open .dropdown-toggle {
  background-color: black !important;
  color: white !important;
}

.selected_documents_container {
  margin-top: 25px;
}

.selected_documents {
  max-height: 500px;
  overflow-y: auto;
}

.main {
  margin-top: 120px;

  h1 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: black;  
  }
}

/* required for responsive tables in firefox */
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.nav-link {
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
}

/* footer */

.bg-light-gray {
    background-color: #f7f7f7;
}

footer {
    margin-top: 25px;
    padding: 25px 0;
    text-align: center;
    height: 100px;
}

footer span.copyright {
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

footer ul.quicklinks {
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
    color: black;

    a {
      color: #000000;
    }
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #fed136;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
}

.portfolio-modal .modal-content p {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

.portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}

.terms{
    text-align: justify;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
    font-size: 16px;
}

.terms h1{
    font-size: 40px;
    font-weight: bold;
    text-align:center;
}

.terms h3{
    font-weight: bold;
}

.portfolio-modal {
  p {
    font-size: 14px;
    line-height: 1.75;
  }

  a {
    color: #fed136;
  }

  .btn-primary {
      border-color: #fed136;
      text-transform: uppercase;
      font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: 700;
      color: #fff;
      background-color: #fed136;
  }

  .btn-primary:hover,
  .btn-primary:focus,
  .btn-primary:active,
  .btn-primary.active,
  .open .dropdown-toggle.btn-primary {
      border-color: #f6bf01;
      color: #fff;
      background-color: #fec503;
  }

  .btn-primary:active,
  .btn-primary.active,
  .open .dropdown-toggle.btn-primary {
      background-image: none;
  }

  .btn-primary.disabled,
  .btn-primary[disabled],
  fieldset[disabled] .btn-primary,
  .btn-primary.disabled:hover,
  .btn-primary[disabled]:hover,
  fieldset[disabled] .btn-primary:hover,
  .btn-primary.disabled:focus,
  .btn-primary[disabled]:focus,
  fieldset[disabled] .btn-primary:focus,
  .btn-primary.disabled:active,
  .btn-primary[disabled]:active,
  fieldset[disabled] .btn-primary:active,
  .btn-primary.disabled.active,
  .btn-primary[disabled].active,
  fieldset[disabled] .btn-primary.active {
      border-color: #fed136;
      background-color: #fed136;
  }

  .btn-primary .badge {
      color: #fed136;
      background-color: #fff;
  }
}

#preview-modal {
  #document-title {
    margin-bottom: 10px;
  }

  #embedded-preview {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .btn-primary {
    margin-top: 10px;
  }
}